/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html{
  background-color: RGB(1,22,39,255);
  box-sizing: border-box;
  font-size: 62.5%;
  color: #FFFF;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body{
  font-family: "Raleway",serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
/* Globales */
/* Son cosas que se aplicaran a todos el proyecto*/
a{
  text-decoration: none;
  color: #000;
}
h1{
  font-size: 5rem;
  margin: 0 0 5rem 0;
}
h2,h3{
  font-size: 3rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
}


.btn{
  background-color: #dcdcdc;
  color: black;
  margin: 1rem;
  padding: .4rem 8.9rem;
  transition: .3s ease-out;
}

.btn2{
  text-align: center;
  padding: .4rem 1rem;
  margin: 1rem;
}

.btn:hover{
  color: #24beb7;
}

.Archivo{
  background-color: #a7a7a7;
}

.inpt-grande{
  width: 53.8rem;
  margin: 0 1rem 0 0;
}

.inpt-grande2{
  width: 72.5rem;
}

.inpt-grande3{
  width: 35.2rem;
}

/* Nanegacion y titulo*/
.contenedor-nav{
  border-top: .1rem solid #e1e1e1;
}

.Titulo{
  display: grid;
  border-radius: .5rem;
  grid-template-columns: repeat(2,1fr);
  background-color: #24beb7;
}

.Titulo nav{
  grid-column: 1/2;
  grid-row: 1/2;
}

.Titulo h1{
  grid-column: 2/3;
  display: flex;
  justify-content: right;
  padding: 0 2.5rem 0 0;
  margin: 1.5rem 0;
}


/* VENTAS */
.buscar{
  width: 100%;
  margin: 1rem;
}

.table {
  width: 100%;
  padding: 0 .8rem;
  color: #000;
}

.busqueda{
  display: flex;
}

.btn-group{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

th{
  background-color: #5d5c5c;
  color: white;
  border: .1rem solid #000000;
  padding: .5rem;
  text-align: center;
}

td {
  padding: .5rem;
  text-align: right;
  border: solid 0.1rem #000;
}

.form{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 15rem;
  gap: 0 1rem;
  margin: 0 1.2rem;
}

.inpt-tabla{
  grid-row: 2/3;
  color: #000;
}

.dropdown a{
  display: block;
  align-items: center;
  gap: 1rem;
  margin: 0 1.2rem;
  padding: .5rem;
  font-size: 4rem;
}


.dropdown :focus{
  color: #FFFF;
}

.dropdown :hover{
  color: #FFFF;

}


.Titulo{
  padding: 2rem .5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.menu{
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  padding: 0 .5rem;
  align-items: center;
  justify-content: space-between;
}

.mini-menu{
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  padding: 0 .5rem;
  align-items: center;
  justify-content: space-between;
}

.mini-menu a{
  padding: .5rem;
  font-size: 2rem;
  color: #e1e1e1;
}

.mini-menu a:hover{
  color: #24beb7
}

.mini-menu a:focus{
  color: #24beb7;
}

.nombre{
  display: flex;
  font-size: 2.5rem;
  padding: 0 .5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.label{
  color: #000;
}

.FormVenta{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin: .2rem 1rem .2rem .9rem;
  gap: .5rem;
  padding: auto;
}

.FormVenta button{
  grid-column: 7/8;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}
.FormVenta input{
  padding: .5rem 0 .5rem .5rem; 
}

.FormCliente{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin: 0 1rem;
  gap: .5rem;
  padding: auto;
}

.FormCliente button{
  grid-column: 6/7;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.FormCliente{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin: 0 1rem;
  gap: .5rem;
  padding: auto;
}

.FormCliente button{
  grid-column: 6/7;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.FormUsuarios{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin: 0 1rem;
  gap: .5rem;
  padding: auto;
}

.FormUsuarios button{
  grid-column: 7/8;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.FormUsuarios input{
  padding: .5rem 0 .5rem .5rem; 
}